<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class='col'>
         
         <div class="content-1">
        <h2>Thanks </h2>
    </div>
    <div class="content">
        
        <h1>You have Successfully <br>Placed the Order </h1>
        <button type="button" routerLink="">Go Back To Home page</button>
        <br><br>
    </div>

    
        </div>
    </div>

    <div class="row">
        <div class="col">
         <app-footer></app-footer>
        </div>
    </div>
</div>

