<hr>

<div class="container">
<div class="row">
<div class="col"><small><p><img src="assets/beep1.png" height="50"><br>Lorem Ipsum is simply dummy text of the printing
and typesetting industry. Lorem Ipsum has been
the industry's standard dummy text ever since the
1500s, when an unknown printer</p> </small></div>
<div class="col"><small><strong>Follow us</strong><br><img src="assets/twitter.png"> </small></div>
<div class="col"><small><strong>Contact us</strong><br><span>My Company,4578 Marmora Road,Glasgow D04 89GR.
<br>Call us now: 0123-456-789
<br>Email: support@whatever.com</span></small></div>
</div>
<div class="row"><p class="text-muted">@Blueconch</p></div>
</div>
